:root {
    --white: #ecf0f1;
    --black: #2c3e50;
    --blue: #3498db;
    --dark-blue: #2980b9;
    --dark-black: #2f3542;
    --dark-white: #f1f2f6;
}

html,
body {
    height: 100%;
    margin: 0;
}

#search {
    color: white;
}

.theme {
    cursor: pointer;
    color: white;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-bottom: 3rem;
}

.post {
    width: 500px;
}

.date {
    font-weight: 200;
    font-size: 0.8rem;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
}

.button-neon {
    position: relative;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: all 0.3s ease;
}

.btn-neon {
    background-color: transparent;
    color: #0ff;
    border: 2px solid #0ff;
    box-shadow: 0 0 5px #0ff;
    transition: all 0.3s;
}

.btn-neon:hover {
    color: #111;
    background-color: #0ff;
    box-shadow: 0 0 20px #0ff, 0 0 40px #0ff, 0 0 60px #0ff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
}

.create {
    position: fixed;
    right: 0;
    bottom: 0;
}
