:root {
    --white: #ecf0f1;
    --black: #2c3e50;
    --blue: #3498db;
    --dark-blue: #2980b9;
    --dark-black: #2f3542;
    --dark-white: #f1f2f6;
    --neon: #0ff;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--dark-white);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.4rem;
}

#search {
    color: white;
    border-color: white;
}

#search:hover {
    background-color: white;
    color: var(--black);
}

.theme {
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
}

.container {
    max-width: 600px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.card {
    margin-bottom: 2rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-weight: 400;
    font-size: 0.85rem;
    color: gray;
}

.card-text {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: #555;
}

.info i {
    margin-left: 0.25rem;
    color: var(--blue);
}

.create {
    position: fixed;
    right: 0;
    bottom: 0;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100px;
}

.button-neon {
    position: relative;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    transition: all 0.3s ease;
}

.btn-neon {
    background-color: transparent;
    color: #0ff;
    border: 2px solid #0ff;
    box-shadow: 0 0 5px #0ff;
    transition: all 0.3s;
}

.btn-neon:hover {
    color: #111;
    background-color: #0ff;
    box-shadow: 0 0 20px #0ff, 0 0 40px #0ff, 0 0 60px #0ff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
}

.comments {
    font-weight: 500;
}
