:root {
    --white: #ecf0f1;
    --black: #2c3e50;
    --blue: #3498db;
    --dark-blue: #2980b9;
    --dark-black: #2f3542;
    --dark-white: #f1f2f6;
}

html,
body {
    height: 100%;
    margin: 0;
}

#search {
    color: white;
}

.theme {
    cursor: pointer;
    color: white;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-bottom: 3rem;
}

.post {
    width: 500px;
}

.date {
    font-weight: 200;
    font-size: 0.8rem;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
